* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
header {
  background-color: #fff;
  height: 64px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgba(55, 65, 81, 1);
}

#titleApp {
  font-weight: 700;
  font-size: 18.9px;
}

.currentPage {
  font-weight: 700;
  font-size: 17.9px;
  color: rgba(59, 130, 246, 1);
}

#btn_logout {
  background-color: rgb(212, 85, 75);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
}

/* MAIN */
.container {
  width: 80%;
  margin: 30px auto;
}

h1 {
  margin-bottom: 15px;
}

.filter {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

/* FLASHCARD */
.card {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-weight: bold;
}

/* BUTTONS */
.controls {
  text-align: center;
  margin: 20px 0;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.btn-blue {
  background: #3b82f6;
}

.btn-green {
  background: #22c55e;
}

/* PROGRESS */
.progress-section {
  width: 60%;
  margin: 0 auto 30px;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.progress-bar {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: #3b82f6;
}

/* WORD LIST */
.word-list {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background: #f1f1f1;
  font-size: 13px;
  text-transform: uppercase;
  color: #666;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  color: #777;
  font-size: 14px;
}

#searchcategories{
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 6px;
}