*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 244, 246, 1);
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
/* login,register */

#header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 80%;                     
    max-width: 1440px;           
    
}


header{
    background-color:rgba(255, 255, 255, 1) ;
    height: 64px;
    box-shadow:rgba(0, 0, 0, 0.176) ;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
;
}

#titleApp{
    font-weight: 700;
    font-style: bold;
    font-size: 18.9px;
    line-height: 28px;
}

.buttonElement{
    display: flex;
    gap: 20px;
}

.btn_blue{
    background-color:rgba(59, 130, 246, 1) ;
    line-height: 24px;
    font-size: 19.6px;
    font-weight: 400;
    margin: 0 auto;
    border: none;
    border-radius:8px;
    text-decoration: none;
    padding:8px 20px;
    color: rgba(255, 255, 255, 1);
}

.btn_green{
    background-color:rgba(34, 197, 94, 1) ;
    line-height: 24px;
    font-size: 19.6px;
    font-weight: 400;
    margin: 0 auto;
    border: none;
    border-radius:8px;
    height: 40px;
    padding:8px 20px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}

.error{
    color: rgb(247, 27, 27);
    font-size: 13px;
    font-style: italic;
}

/* home */
.menu{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

#btn_logout{
    background-color:rgb(212, 85, 75) ;
    line-height: 24px;
    font-size: 19.6px;
    font-weight: 400;
    margin: 0 auto;
    border: none;
    border-radius:8px;
    
    padding:8px 20px;
    color: rgba(255, 255, 255, 1);
}

#banner_App{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    padding-top: 30px;
}
.footer{
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    padding: 20px;
    color: rgba(75, 85, 99, 1);
    line-height: 24px;
    font-weight: 400;

}

.des_banner{
    font-weight: 400;
    font-size: 24.5px;
    color: rgba(33, 37, 41, 1);
}

/* login */

.InputForm{
    display: flex;
    justify-content: center;
}

.form{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 133px auto;
    justify-content: space-around;
    padding: 20px;
}

.formCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formCard button{
    width: 100%;
    max-width: 340px;
}
.form_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input{
    border: 1px solid rgba(222, 226, 230, 1);
    width: 384;
    height: 35px;
    opacity: 1;
    border-radius: 6px;
    border-width: 1px;
}

.form h3{
    text-align: center;
    font-size: 27.9px;
    padding-bottom: 20px;
}

.form_item label{
    color: rgba(55, 65, 81, 1);
}